@import "tailwindcss";

@font-face {
  font-family: 'Panchang';
  src: url('./assets/fonts/Panchang-variable.woff') format('woff');
  src: url('./assets/fonts/Panchang-variable.woff2') format('woff2');

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang-ExtraBold';
  src: url('./assets/fonts/Panchang-Extrabold.woff') format('woff');
  src: url('./assets/fonts/Panchang-Extrabold.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  background: var(--background-image-main-gradient);
  min-height: 100vh;
}

@theme {
  --font-panchang: "Panchang", sans-serif;
  --font-panchang-extrabold: "Panchang-ExtraBold", sans-serif;
  --background-image-main-gradient: linear-gradient(to bottom right, #facc15, #fca5a5, #1e3a8a);
}

/* --bg-color:"bg-gradient-to-br from-yellow-400 via-red-300 to-blue-900"; */