@import "tailwindcss";

@font-face {
  font-family: 'Panchang';
  src: url('./assets/fonts/Panchang-variable.woff') format('woff');
  src: url('./assets/fonts/Panchang-variable.woff2') format('woff2');

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang-ExtraBold';
  src: url('./assets/fonts/Panchang-Extrabold.woff') format('woff');
  src: url('./assets/fonts/Panchang-Extrabold.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-panchang: "Panchang", sans-serif;
  --font-panchang-extrabold: "Panchang-ExtraBold", sans-serif;
}